
nav{
    background-color: #4360FA;
    padding: 30px;
    margin: -15px;

}

img {
    margin-top: 17px;
    margin-left: 10px;
    height: 80px;
    width: 70px;
    border-radius: 10%;
    position:fixed;
}


#navegador ul{
    list-style-type: none;
}

#navegador li{
    display: inline;
    text-align: center;
    margin:10px;
}


#navegador li a {
    padding: 0px;
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

#navegador li a:hover{
    color: gold;    
}