{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% include 'index.html' %}
    <h1>¿Estás seguro de que quieres eliminar el producto "{{ producto.nombre }}"?</h1>
    <script>
        Swal.fire({
            title: '¿Estás seguro de que quieres eliminar el producto?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Sí, Eliminar',
            denyButtonText: 'Cancelar',
        }).then((result) => {
            if (result.isConfirmed) {
                document.querySelector('form').submit();
            }
        });
    </script>

    <a href="{% url 'listar_productos' %}">Cancelar</a>
</body>
</html>
