{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url=/index.html">
    <link rel="stylesheet" href="{% static 'css/listas.css' %}">
    <title>Hogar</title>
</head>
<body>
    {% include 'index.html' %}
    <div>
        <h1>BIENVENIDOS A LA DROGUERIA SUPERIOR</h1>
        <p>Bienvenidos a la pagina principal de droguerias supeior, en esta plataforma podras getionar, agregar nuevos productos, eliminar productos que ya hallan llegado a su fecha de caducidad y el inventario de tu local</p>
        <br>
        <p>Esparamos que esta plataforma sea de buen manejo y gestion para </p>
    </div>
</body>
</html>